Aufgabe_1/bootloader.bin
Aufgabe_1/bootloader.elf
Aufgabe_1/bootloader.o
Aufgabe_2/2018/Makefile
Aufgabe_2/Beispiele/dup/Makefile
Aufgabe_2/Beispiele/fork_example/Makefile
Aufgabe_2/Beispiele/fork_signal/Makefile
Aufgabe_2/Beispiele/pipe_bidirect/Makefile
Aufgabe_2/Beispiele/pipe_example/Makefile
Aufgabe_2/shell.o
Aufgabe_2/array.o
Aufgabe_2/shell
Aufgabe_2/prog
*/.vscode/*
*.exe
*.exe.stackdump
*.zip
*.o
.vscode/*
Aufgabe_2/test/*
